<footer>
    <!--The Social Media Links in the footer.-->
    <section id="social-media-icons" class="padding-bottom-2rem">
        <a href="https://www.facebook.com/matt.b.thoms" title="Outbound link to Facebook - Matthew Thoms Account." class="btn btn-social-icon btn-facebook">
            <i class="fa fa-facebook"></i>
        </a>
        <a href="http://twitter.com/matt_thoms" title="Outbound link to Twitter - Matthew Thoms Account." class="btn btn-social-icon btn-twitter">
            <i class="fa fa-twitter"></i>
        </a>
        <a href="http://github.com/mbthoms" title="Outbound link to GitHub - Matthew Thoms Account." class="btn btn-social-icon btn-github">
            <i class="fa fa-github"></i>
        </a>
        <a href="http://ca.linkedin.com/pub/matthew-thoms/78/625/9a6" title="Outbound link to LinkedIn - Matthew Thoms Account." class="btn btn-social-icon btn-linkedin">
            <i class="fa fa-linkedin"></i>
        </a>
        <a href="https://instagram.com/mattbthoms/" title="Outbound link to Instagram - Matthew Thoms Account." class="btn btn-social-icon btn-instagram">
            <i class="fa fa-instagram"></i>
        </a>
        <a href="https://www.pinterest.com/matt_thoms/" title="Outbound link to Pinterest - Matthew Thoms Account." class="btn btn-social-icon btn-pinterest">
            <i class="fa fa-pinterest"></i>
        </a>
        <a href="http://google.com/+MatthewThoms" title="Outbound link to Google Plus - Matthew Thoms Account." class="btn btn-social-icon btn-google">
            <i class="fa fa-google-plus"></i>
        </a>
        <a href="https://foursquare.com/matt_thoms" title="Outbound link to foursquare - Matthew Thoms Account." class="btn btn-social-icon btn-foursquare">
            <i class="fa fa-foursquare"></i>
        </a>
    </section>
    <p>Copyright &copy;
        <!--Looks up year then displays the year.-->
        <script type="text/javascript">var year = new Date();document.write(year.getFullYear());</script>
        <a href="/">Matthew Thoms Media</a></p>
    </footer>
<!-- End of container -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/javascripts/jquery.min.js"></script>
<!-- Bringing in the Parallax for the images. -->
<script src="/javascripts/parallax.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>