<%- include partials/header.ejs %>
<div class="container padding-top-5rem">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center padding-top">
            <h1>About</h1>
        </div>
    </div> <!-- End of row - title.-->
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 text-center">
            <img src="/images/matthewthoms.jpg" alt="Photo of Matthew Thoms">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-8 padding-top-5rem">
            <p>I am currently an Interactive Web Design and development student at <a href="http://georgiancollege.ca/" title="Outbound link to Georgian College's Website.">Georgian College of Applied Arts and Technology</a> in Barrie, Ontario, Canada.</p>
            <p>Beginning from when I was a child I have been interested in Technology, specifically the internet. The internet is a beautiful place, this is because of designers. If there were no designers like myself with a passion for the Internet then life would be so very different, we would still be looking at plain text on a screen without design or functionality.</p>
            <p>The internet has come a long way in a relatively short time and I am proud to be a part of that ever changing and developing world which not only changes lives with research and information but socially and entertaining as well.</p>
            <p>I hope to have a long and interesting career working for a company that has a broad vision and wants to be a leader in the changes that the internet is bound see in the future. There is no feeling like seeing the changes that you make help and shape lives on the internet.</p>
        </div>
    </div>

    <!-- Gear Section -->
    <div class="row padding-bottom-2rem">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h3 class="page-title">The Gear I use...</h3>
            <p>I currently use a Macbook Pro 15 inch (late 2013) with retina display running the latest Mac operating system. As well I am using a Virtual Machine (VM) to run Windows 10 Pro. I also run a Windows desktop running Windows 7, 8.1, 10 as well as Linux Ubuntu. I find working on many platforms and operating systems keeps things interesting also it keeps my knowledge up to date, so that way wherever I am I can get work done fast, effectively and efficiently.</p>
            <section id="tabbed" class="col-sm-12 col-xs-12 col-lg-12">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab_home">Home Office</a></li>
                    <li><a data-toggle="tab" href="#tab_mobile">Mobile Office</a></li>
                    <li><a data-toggle="tab" href="#tab_photo">Photography</a></li>
                </ul>

                <div class="tab-content">
                    <div id="tab_home" class="tab-pane fade in active">
                        <h4>Home Office</h4>
                        <ul>
                            <li>Samsung Monitor 27" SyncMaster S27B350</li>
                            <li>Samsung Monitor 27" S270390</li>
                            <li>Gateway DX4860 Desktop Computer
                                <ul>
                                    <li>Windows 10 Home</li>
                                    <li>3.40GHz Intel i7 2600</li>
                                    <li>8GB Memory</li>
                                    <li>Kingston SSD 150GB</li>
                                    <li>2TB WD HDD</li>
                                    <li>Zotec GeForce GTX 960 2GB Ram</li>
                                </ul>
                            </li>
                            <li>Logitech C920 Webcam</li>
                            <li>Logitech Surround Sound Speakers Z506</li>
                            <li>Razer Kraken Pro (Black)</li>
                            <li>Razer Naga (2014)</li>
                            <li>Razer Black Widow Chroma Gaming Keyboard (2014)</li>
                        </ul>
                    </div>
                    <div id="tab_mobile" class="tab-pane fade">
                        <h4>Mobile Office</h4>
                        <ul>
                            <li>Macbook Pro 15" Retina (Late 2013)
                                <ul>
                                    <li>OS X 10.10 Yosemite</li>
                                    <li>2.0 GHz Turbo Boost:3.2 GHz Intel i7</li>
                                    <li>256GB PCIe-based flash storage</li>
                                    <li>Intel Iris Pro Graphics</li>
                                    <li>802.11ac Wi-Fi</li>
                                    <li>Bluetooth 4.0</li>
                                    <li>8GB Memory</li>
                                </ul>
                            </li>
                            <li>Apple Magic Mouse</li>
                            <li>500GB WD My Passport External HDD (Black)</li>
                            <li>Apple Thunderbolt to Gigabit Ethernet Adapter</li>
                            <li>Mini DisplayPort to VGA Abapter</li>
                            <li>iPhone 4s (White, 16GB)</li>
                            <li>Samsung Galaxy Note 2 (16GB)</li>
                            <li>Motorola Moto G (8GB)</li>
                        </ul>

                    </div>
                    <div id="tab_photo" class="tab-pane fade">
                        <h4>Photography</h4>
                        <ul>
                            <li>Canon EOS Rebel T3</li>
                            <li>18-55mm Stock Canon Lens</li>
                            <li>75-300mm Canon Zoom Lens (Telephoto)</li>
                            <li>Macro Extension Tube</li>
                            <li>32GB (Class 10) Lexar SD Card</li>
                            <li>72" Tripod with Monopod</li>
                        </ul>
                    </div>
                </div>
            </section>
        </div> <!-- End of Col -->
    </div> <!-- End of Row -->
<%- include partials/footer.ejs %>