<%- include partials/header.ejs %>
<div class="container padding-top-5rem">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 text-center">
      <h1>Web Design / Developer</h1>
      <h2 class="located">Located in Southern Ontario, Canada</h2>
      <h3>What I do— day in, and day out.</h3>
      <h3>Welcome to my home on the web. Here I provide everything you will ever need to know about me, what I do and what my passion is...</h3>
    </div>
  </div>
  <div class="container marketing padding-top-5rem">

    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <span class="fa fa-user fa-5x"></span>
        <h2>About Me</h2>
        <p>I am currently an Interactive Web Design and development student at <a href="http://georgiancollege.ca/" title="Outbound link to Georgian College's Website.">Georgian College of Applied Arts and Technology</a> in Barrie, Ontario, Canada.</p>
        <p><a class="btn btn-primary" href="/about" role="button">View details &raquo;</a></p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-sm-12 col-md-4 col-lg-4">
        <span class="fa fa-code fa-5x"></span>
        <h2>Coding &amp; Design</h2>
        <p>I love to code for hours on end. I love to code and create from the ideas I have in my head. Designing and developing the web is my passion. Just sit me down at a computer and let me create.</p>
        <p><a class="btn btn-primary" href="/projects" role="button">View details &raquo;</a></p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-sm-12 col-md-4 col-lg-4">
        <span class="fa fa-camera fa-5x"></span>
        <h2>My Photography</h2>
        <p>I use a Canon Rebal T3 DSLR camera to capture my photos that I want to show and share with people. I love photography as a hobby / past time. Remembering monments is a wonderful thing!</p>
        <p><a class="btn btn-primary" href="https://500px.com/matthewthoms" role="button">View details &raquo;</a></p>
      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
      </div>
    </div>
<%- include partials/footer.ejs %>
