<%- include partials/header.ejs %>
<div class="container padding-top-5rem">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <h1>Work</h1>
            <h2>Let's work together,</h2>
            <h2>I'm ready for something great... Are you?</h2>
        </div>
    </div> <!-- End of row - title.-->
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h2>Skills I have...</h2>
        </div>
    </div> <!-- End of row - My Skills.-->
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p>I have a unique set of skills, I have been learning about coding for the web for 2 years now. For the past year I have been learning at a fast pace as I am in school full time at the moment to upgrade my skills, so that I can offer an employer my very best. Programming languages that I know and are currently learning are:</p>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <li>Coding Languages
                <ul>
                    <li><a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" title="Outbound link to Mozilla Developer Network's HTML 5 Page.">HTML 5</a></li>
                    <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS" title="Outbound link to Mozilla Developer Network s CSS 3 Page.">CSS 3</a></li>
                    <li><a href="http://www.php.net/" title="Outbound link to  The official PHP website.">PHP</a></li>
                    <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript</a>
                        <ul>
                            <li><a href="https://jquery.com/" title="Outbound link to the jQuery Website.">jQuery</a></li>
                            <li><a href="http://nodejs.org" title="Outbound link to the Node.js Website.">Node.js</a></li>
                        </ul></li>
                    <li><a href="http://www.asp.net/" title="Outbound link to Microsoft's ASP.NET website.">Microsoft ASP.NET / C#</a></li>
                    <li><a href="https://www.mysql.com/" title="Outbound link to MySQL's website.">MySQL Database</a></li>
                    <li><a href="http://www.microsoft.com/en-ca/server-cloud/products/sql-server/" title="Outbound link to Microsoft's SQL Server Website.">Microsoft SQL Server</a></li>
                </ul></li>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <ul>
                    <li>Frameworks / Boilerplates
                        <ul>
                            <li><a href="http://expressjs.com" title="Outbound link to the Express web framework for Node.js">Express Framework for Node.js</a></li>
                            <li><a href="http://getbootstrap.com/" title="Outbound link to bootstrap 3's website.">Bootstrap 3</a></li>
                            <li><a href="http://getskeleton.com/" title="Outbound link to the Skleton Boilerplate.">Skeleton</a></li>
                            <li><a href="https://developers.google.com/web/tools/material-design-lite/index?hl=en" title="Outbound link to Google's Material Design Lite webpage.">Google's Material Design Lite</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h2>Work Showcase</h2>
            </div>
        </div> <!-- End of row - My Skills.-->


        <div class="row padding-bottom-2rem padding-top-5rem">
            <div class="col-md-4 text-center">
                <div class="service-box"> <i class="fa fa-4x fa-users"></i>
                    <h3>Client Work</h3>
                    <p class="text-muted">There is work here that showcases the work I have done for clients.</p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="service-box"> <i class="fa fa-4x fa-server"></i>
                    <h3>Hosted Work</h3>
                    <p class="text-muted">There are examples of my code below to look at. They are hosted on my server.</p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="service-box"> <i class="fa fa-4x fa-github"></i>
                    <h3>GitHub</h3>
                    <p class="text-muted">The code that I upload/commit to Github.</p>
                    <a href="https://github.com/mbthoms" title="Outbound Link to GitHub, where my code is hosted." class="btn btn-default" role="button"><span class="fa fa-github"></span> GitHub</a>
                </div>
            </div>
        </div>
        <div class="row">
            <h3>Client Work</h3>
        </div>
        <div class="row padding-top-5rem">
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="thumbnail">
                    <img src="/images/work/indy-graphics.jpg" alt="">
                    <div class="caption">
                        <h3>Indy Graphics Inc.</h3>
                        <p>Indy Graphics has been providing print products to customers in their local area to all around the world.</p>
                        <p><a href="http://indygraphics.ca/" title="This link goes to Indy Graphics Homepage." class="btn btn-primary" role="button" target="_blank"><span class="fa fa-users"></span> Client Site</a></p>
                    </div> <!-- End of caption -->
                </div> <!-- End of thumbnail -->
            </div> <!-- End of col -->
        </div>
        <div class="row">
            <h3>Hosted/Github Work</h3>
        </div>

        <div class="row padding-top-5rem">
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="thumbnail">
                    <img src="/images/work/personal-site.jpg" alt="Image of the CSS layout work that is being hosted on matthewthoms.com">
                    <div class="caption">
                        <h3>Personal Site</h3>
                        <p>The Site that you are currently on. This site is made by hand with the help of Bootstrap and with node.js using the Express Framework also with a few other modules. </p>
                        <p><a href="https://github.com/mbthoms/Portfolio-Site" title="Outbound Link to GitHub, where the code is hosted for viewing." class="btn btn-default" role="button" target="_blank"><span class="fa fa-github"></span> GitHub</a></p>
                    </div> <!-- End of caption -->
                </div> <!-- End of thumbnail -->
            </div> <!-- End of col -->

            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="thumbnail">
                    <img src="/images/work/food-exercise-tracker-asp-net.png" alt="Screenshot of the food tracker home page.">
                    <div class="caption">
                        <h3> Food / Exercise Tracker</h3>
                        <p>Food and exercise tracker that you can signup, login, track and only the person with the login can  access the information from the user. This Application is made from ASP.NET / C#.<br>
                            <br>
                            Using the entity framework from Microsoft and secure using hashing and salting the passwords when you signup.</p>
                        <p><a href="https://github.com/mbthoms/Server-Side-Scripting-Assignment-2" title="Outbound Link to GitHub, where the code is hosted." class="btn btn-default" role="button"><span class="fa fa-github"></span> GitHub</a></p>
                    </div> <!-- End of caption -->
                </div> <!-- End of thumbnail -->
            </div> <!-- End of col -->

            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="thumbnail">
                    <img src="/images/work/to-do-list.png" alt="Image of the To Do List work that is being hosted on matthewthoms.com">
                    <div class="caption">
                        <h3>To Do List</h3>
                        <p>To Do List made from HTML CSS and jQuery.</p>
                        <p><a href="web_apps/to_do_list/main_to_do_list.html" title="Link to the hosted work on the same server as the website." class="btn btn-primary" role="button" target="_blank"><span class="fa fa-server"></span> Hosted on Server</a> <a href="https://github.com/mbthoms/Client-Side-Scripting-To-Do-List-Final-Project" title="Outbound Link to GitHub, where the code is hosted." class="btn btn-default" role="button" target="_blank"><span class="fa fa-github"></span> GitHub</a></p>
                    </div> <!-- End of caption -->
                </div> <!-- End of thumbnail -->
            </div> <!-- End of col -->

        </div> <!-- End of row -->
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="thumbnail">
                    <img src="/images/work/game-cal.png" alt="#">
                    <div class="caption">
                        <h3>Game Calculator</h3>
                        <p>Game Calculator that calculates many different inputs that are in the webpage and displays it below the submit button.</p>
                        <p><a href="https://github.com/mbthoms/Server-Side-Scripting-Assignment-1" title="Outbound Link to GitHub, where the code is hosted." class="btn btn-default" role="button" target="_blank"><span class="fa fa-github"></span> GitHub</a></p>
                    </div> <!-- End of caption -->
                </div> <!-- End of thumbnail -->
            </div> <!-- End of col -->

            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="thumbnail">
                    <img src="/images/work/css-layout.png" alt="Image of the CSS layout work that is being hosted on matthewthoms.com">
                    <div class="caption">
                        <h3>CSS Store Page Layout</h3>
                        <p>CSS layout of a store page using only HTML and CSS. No frameworks were used to make the layout of this demo store page.</p>
                        <p><a href="web_apps/css_layout/css_layout.html" title="Link to the hosted work on the same server as the website." class="btn btn-primary" role="button" target="_blank"><span class="fa fa-server"></span> Hosted on Server</a> <a href="https://github.com/mbthoms/Web-User-Interface-Design-CSS-Layout-Final-Project" title="Outbound Link to GitHub, where the code is hosted." class="btn btn-default" role="button" target="_blank"><span class="fa fa-github"></span> GitHub</a></p>
                    </div> <!-- End of caption -->
                </div> <!-- End of thumbnail -->
            </div> <!-- End of col -->
        </div>
    </div> <!-- End of row - My Skills Content.-->
<%- include partials/footer.ejs %>