<%- include partials/header.ejs %>
<div id="services">
    <div class="container">

        <div class="row text-center">
            <h1>Services</h1>
        </div>
        <div class="row text-center">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <span class="fa fa-paint-brush fa-5x"></span>
                <h2>Website Design</h2>
                <p>About Service...</p>
                <p><a class="btn btn-primary" href="#webDesign" role="button">Learn More... &raquo;</a></p>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
                <span class="fa fa-globe fa-5x"></span>
                <h2>SEO</h2>
                <p>Search Engine Optimization </p>
                <p><a class="btn btn-primary" href="#seoService" role="button">Learn More... &raquo;</a></p>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
                <span class="fa fa-wrench fa-5x"></span>
                <h2>Hosting</h2>
                <p>About Service...</p>
                <p><a class="btn btn-primary" href="#hostingService" role="button">Learn More... &raquo;</a></p>
            </div>
        </div>
    </div> <!-- End of Services intro. -->
</div>

<div id="service1">
    <div id="webDesign" class="container">
        <!--Service 1 - Website Design Title.-->
        <div class="text-center">
            <span class="fa fa-paint-brush fa-5x"></span>
            <h2>Website Design</h2>
        </div>

        <p></p>

    </div> <!-- End of Service 1 -->
</div>


<div class="parallax-container">
    <div class="parallax-window" data-parallax="scroll" data-image-src="/images/services1.jpg"></div>
</div>

<div id="service2">
    <div id="seoService" class="container">
        <!--Service 2 - SEO-->
        <div class="text-center">
            <span class="fa fa-globe fa-5x"></span>
            <h2>SEO</h2>
        </div>

        <p>This is a paragraph for explaining what the service is...</p>

    </div> <!-- End of Service 2 -->
</div>

<div class="parallax-container">
    <div class="parallax-window" data-parallax="scroll" data-image-src="/images/services2.jpg"></div>
</div>

<div id="service3">
    <div id="hostingService" class="container">
        <!--Service 2 - SEO-->
        <div class="text-center">
            <span class="fa fa-server fa-5x"></span>
            <h2>Hosting</h2>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <p></p>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <p>Hosting that is affordable and reliable. What options for hosting are:</p>
                <ul>
                    <li>Email/Web Mail</li>
                    <li>Web Analytics</li>
                    <li>ASP.NET</li>
                    <li>SQL Server</li>
                    <li>PHP</li>
                    <li>MySQL</li>
                </ul>
            </div>
        </div>
    </div> <!-- End of Service 2 -->
</div>
<div class="container">
<%- include partials/footer.ejs %>