/*Main CSS Document*/
/*Fonts ===================================================================== */
html, body {
    height: 100%;
}

.navbar-brand {
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}
/*Contact Form ===============================================================*/
fieldset {
    padding-bottom: 2rem;
}

.email {
	padding-bottom: 1rem;
}

/*Services ==========================================================*/
#services {
    padding: 50px 0px;
}

#services h1 {
    padding-bottom: 20px;
}


#service1 {
    padding: 50px 0px;
    background-color: #00a2ff;
    margin: 0px;
    color: white;
}

#service1 h2 {
    color: white;
}


#service2 {
    padding: 50px 0px;
    background-color: #0d6aad;
    margin: 0px;
    color: white;

}

#service2 h2 {
    color: white;
}

#service3 {
    padding: 50px 0px;
    margin: 0px;

}

.parallax-window {
    margin-top: 0px;
}

/*Footer =====================================================================*/
footer {
    text-align: center;
    border-top: 2px solid #00a2ff;
    padding: 2rem;
}

/*Images =====================================================================*/
.parallax-window  {
    min-height: 400px;
    background: transparent;
    color: white;
}

.work-logos {
    width: auto;
    height: 100%;
}

/*Spacing ====================================================================*/
.padding-top-1rem {
    padding-top: 1rem;
}
.padding-top-5rem {
    padding-top: 5rem;
}

.located {
    margin-top: 0;
    margin-bottom: 20px;
}

.padding-bottom-2rem {
    padding-bottom: 2rem;
}

.site-alert {
    margin-bottom: 0;
}

/* Marketing Content =========================================================*/

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}

.marketing h2 {
  font-weight: normal;
}

.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}
